// 手機版
.products {
  margin-bottom: 40px;
  h2 {
    font-size: 1.75rem;
    margin-top: 40px;
    margin-bottom: 32px;
    img {
      width: 28px;
    }
    @include media-breakpoint-up(lg) {
      font-size: 56px;
      margin-top: 80px;
      margin-bottom: 40px;
      img {
        width: 56px;
      }
    }
  }
  .card {
    border-radius: 16px;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid $primary;
    }
    .card-img-top {
      border-radius: 16px;
      width: 320px;
      height: 200px;
    }
  }
  .viewBtn {
    &:hover {
      transform: scale(1.1);
    }
  }
}

// 桌機 筆電版

.navbar {
  .cartBtn {
    display: flex;
    align-items: center;
    color: $secondary;
    background-color: transparent;
    .badge {
      border-radius: 50%;
    }
  }
}

//filter btns
.filterbtns {
  .typeBtns,
  .filterFavoBtn {
    button {
      padding: 8px;
      margin-right: 4px;
      background-color: $secondary;
      color: #fff;
      &:hover {
        background-color: $primary;
        color: #fff;
      }
    }
  }
}
.productCard {
  padding: 0;
}
.cardBtns {
  display: flex;
  justify-content: space-between;
}
//product card btn
.btnHeart.btn-purple-outline {
  color: $secondary;
  background-color: transparent;
}
.btnHeart.btn-purple-outline.favorited {
  color: #fff;
  background-color: $secondary; /* 實心紫色背景 */
}
.btnHeart.btn-purple-outline:hover {
  background-color: $secondary;
  color: #fff;
}
.btnCart {
  background-color: #fff;
  color: $secondary;
  &:hover {
    background-color: $primary;
  }
}
