.container {
  padding: 0 12px;
  margin: 0 auto;
  @include media-breakpoint-up(md) {
    max-width: 720px;
  }
  @include media-breakpoint-up(lg) {
    max-width: 920px;
  }
}

.footprint {
  width: 25px;
  height: 25px;
}
.footprintBig {
  width: 70px;
  height: 70px;
}

.rotate {
  transform: rotate(50deg);
}

.ratings {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #ddd; /*背景星星顏色*/
  overflow: hidden;
  font-size: 16px; /*調整字體大小可放大縮小星星*/
  text-shadow: 0px 1px 0 #999;
}
.full_star {
  width: 90%; /*調整寬度可變更星等*/
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #ffc062; /*前景星星顏色*/
}

.bg-clip {
  background-color: #1c1c1c90;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.type-card-hover {
  &:hover {
    position: relative;
    transition: 0.3s;
    // more顯示
    &::after {
      content: "MORE";
      position: absolute;
      font-size: 36px;
      font-weight: 900;
      color: $primary;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: black;
      opacity: 0.7;
      justify-content: center;
      align-items: center;
    }
  }
}

.review-card-hover {
  &:hover {
    position: relative;

    transition-timing-function: ease-in;
    // more顯示
    &::after {
      content: "MORE";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: $secondary;
      opacity: 0.5;
      color: rgb(131, 19, 19);
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
  }
}

.quickView-hover {
  &:hover {
    position: relative;
    transition: 0.3s;

    // 遮罩顯示
    &::after {
      content: "";
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: black;
      opacity: 0.3;
      justify-content: center;
      align-items: center;
    }
    // 按鈕顯示
    .quickViewBtn {
      display: block !important;
      bottom: 0px;
      left: 25%;
      z-index: 2;
    }
  }
}
.card-img-top {
  height: 200px;
  object-fit: cover;
}
.table-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
}
.deleteBtn {
  background: transparent;
  color: $secondary;
  padding: 0;
}
